
:root {
   --cor-principal: #000; 
   --cor-secundaria: #222; 
   --cor-secundaria-hover: #000;
}



/* CSS BLACKFRIDAY */
@media screen {

   
.voltar-ao-topo {
   display: none !important;
}

div#smartfront__app.smartfront__smartfrontapps-variacao-por-disponibilidade .content--product-application .product-application--image {
   display: none;
}

div#smartfront__app.smartfront__smartfrontapps-variacao-por-disponibilidade .content--product-application .product-application--name:after {
   display: none;
}

div#smartfront__app.smartfront__smartfrontapps-variacao-por-disponibilidade .product-application--informations * {
   text-align: left;
}

div#smartfront__app.smartfront__smartfrontapps-variacao-por-disponibilidade .content--product-application .product-application--name * {
   height: auto;
   font-family: 'Open Sans' !important;
   text-transform: unset;
   font-weight: 500;
   letter-spacing: -0.2px;
   font-size: 14px !important;
   margin: 0;
   color: #000 !important;
}

div#smartfront__app.smartfront__smartfrontapps-variacao-por-disponibilidade  .prices-product--price-ticket {
   margin: -3px 0 0 0 !important;
}

div#smartfront__app.smartfront__smartfrontapps-variacao-por-disponibilidade .prices-product--installments-product {
   display: none;
}

div#smartfront__app.smartfront__smartfrontapps-variacao-por-disponibilidade .content--product-application .product-application--prices-product .prices-product--price {
   display: none;
}

div#smartfront__app.smartfront__smartfrontapps-variacao-por-disponibilidade .content--product-application .product-application--prices-product .prices-product--sale-price:after {
   content: "cada";
   font-weight: 600;
   font-size: 14px;
   margin: 0 0 0 4px;
   letter-spacing: -0.3px;
}

div#smartfront__app.smartfront__smartfrontapps-variacao-por-disponibilidade .product-application--prices-product {
   margin: 1px 0 0px 0;
}

div#smartfront__app.smartfront__smartfrontapps-variacao-por-disponibilidade .content--product-application .product-application--prices-product .prices-product--sale-price b {
   letter-spacing: -1px;
}

div#smartfront__app.smartfront__smartfrontapps-variacao-por-disponibilidade .product-application-info-availability {
   font-size: 14px;
}

div#smartfront__app.smartfront__smartfrontapps-variacao-por-disponibilidade .smartfront__app--content-app.smartfront__app--not-title {
   padding-top: 0 !important;
}

div#smartfront__app.smartfront__smartfrontapps-variacao-por-disponibilidade .body-app--product-listing .content--product-application {
   margin-bottom: 10px;
}

div#smartfront__app.smartfront__smartfrontapps-variacao-por-disponibilidade .body-app--product-listing .content--product-application > a {
   transition: all 0.3s;
   padding: 12px 12px 12px 12px;
}

div#smartfront__app.smartfront__smartfrontapps-variacao-por-disponibilidade .body-app--product-listing .content--product-application.product-availability-active > a,
div#smartfront__app.smartfront__smartfrontapps-variacao-por-disponibilidade .body-app--product-listing .content--product-application > a:hover {
   border-color: #ff0000;
}

div#smartfront__app.smartfront__smartfrontapps-variacao-por-disponibilidade .product-application-info-availability > span {
   font-weight: 700;
   font-size: 18px;
   height: 16px;
   display: inline-block;
   line-height: 12px;
}

div#smartfront__app.smartfront__smartfrontapps-variacao-por-disponibilidade {
   margin-bottom: 15px !important;
}

div#smartfront__app.smartfront__smartfrontapps-variacao-por-disponibilidade .body-app--product-listing .content--product-application > a .product-application--name,
div#smartfront__app.smartfront__smartfrontapps-variacao-por-disponibilidade .body-app--product-listing .content--product-application > a .prices-product--sale-price,
div#smartfront__app.smartfront__smartfrontapps-variacao-por-disponibilidade .body-app--content .content--product-application > a:before,
div#smartfront__app.smartfront__smartfrontapps-variacao-por-disponibilidade .content--product-application .product-application--prices-product .prices-product--price-ticket:before {
   display: none !important;
}


.listagem-item:before {
   content: url(https://cdn.awsli.com.br/257/257163/arquivos/tag_led_friday-21-11-21-42.png);
   position: absolute;
   left: 10px;
   top: 8px;
   z-index: 99;
}


.listagem-item .bandeiras-produto .bandeira-promocao {
   margin: 49px 0 0 0 !important;
   width: 45px !important;
   height: 45px !important;
}

.listagem-item span.bandeira-frete-gratis {
   height: 45px !important;
   width: 45px !important;
}

.listagem-item span.bandeira-frete-gratis .tag-frete-texto {
   top: 10px !important;
   left: 2px !important;
}


   .texto-categoria-personalizado h2,
   .new__description .secondary__block h3, 
   .new__description .secondary__block h2,
  .produto form#formCalcularCep button.btn:before,
  .produto form#formCalcularCep label,
  .pagina-categoria .componente .interno h4,
  .smartfront_model_compre-junto .content-app--body-app .body-app--info-app .info-app-prices--save-money,
  body div#smartfront__app .content-app--header-app .header-app--title,
  .avalicoes-categoria .avalicoes-categoria-conteudo .avalicao-item .avaliacao-ver-mais,
  .avalicoes-categoria .avalicoes-categoria-conteudo .avalicao-item .avalicao-informacoes .avaliacao-nome,
  .avalicoes-categoria .avaliacoes-categoria-titulo .avaliacoes-categoria-titulo-texto,
  .menu__nivel-dois.menu__nivel-dois--oferta-da-semana div#smartfront__app .content--product-application > a .product-application--countdown-product .product-countdown-content li.blank,
  .menu__nivel-dois.menu__nivel-dois--oferta-da-semana div#smartfront__app .content--product-application > a .product-application--countdown-product .product-countdown-content:before,
  .menu__nivel-dois.menu__nivel-dois--oferta-da-semana div#smartfront__app .content--product-application > a .product-application--countdown-product .product-countdown-content i,
  #cabecalho .dropdown-conteudo-superior.dropdown-canais-atendimento .linha-atendimento a,
  #cabecalho .inferior .conta .conteudo-conta-textos a,
  .compre-por-telefone .compre-por-telefone-numero a .compre-por-telefone-icone-numero svg,
  .compre-por-telefone .compre-por-telefone-titulos .compre-por-telefone-titulo-1,
  div#tarja-informacoes .bloco-tarja .parte-inferior a.link-tarja,
  div#tarja-informacoes .bloco-tarja .parte-superior .titulo-tarja,
  div#tarja-informacoes .bloco-tarja .parte-superior .imagem-tarja svg, 
  div#tarja-informacoes .bloco-tarja .parte-superior .imagem-tarja svg *,
  .cronometro-led-ofertas-conteudo-texto-1 {
      color: #000 !important;
      fill: #000 !important;
  }

  .bloco-triplo-personalizado .bloco-personalizado.bloco-produtos-peronalizados .topo-bloco-produtos-peronalizados,
  body div#smartfront__app .product-application--tags .tags--tag.tag-discount,
  #rodape .conteudo-customizado-rodape+div,
  div#smartfront__app.smartfront__smartfrontapps-grid-produtos-personalizados .product-application--tags .tags--tag.tag-discount,
  div#smartfront__app.smartfront__smartfrontapps-grid-produtos-personalizados .product-application--countdown-product,
  div#smartfront__app.smartfront__smartfrontapps-oferta-limitada-na-categoria .product-countdown-content,
  body div#smartfront__app.smartfront__smartfrontapps-oferta-limitada-na-categoria .product-application--tags .tags--tag.tag-discount,
  #barraNewsletter, 
  .menu.lateral .menu__nivel-dois ul.menu__nivel-tres > li > a {
      background: #000 !important;
  }

  #cabecalho .inferior .carrinho > a > .qtd-carrinho,
  div#menu .menu__nivel-dois.menu__nivel-dois--todos-os-departamentos > ul,
  div#menu .menu__nivel-um > ul > li.menu__item--todos-os-departamentos > .menu__nivel-dois > ul > li > a,
  div#menu .menu__nivel-um > ul > li.menu__item--todos-os-departamentos > a,
  div#menu .menu__nivel-um .menu__item--oferta-da-semana > a {
      background: #d00b11;
  }

  div#menu .menu__nivel-um > ul > li.menu__item--todos-os-departamentos > .menu__nivel-dois,
  div#menu .menu__nivel-um > ul > li.menu__item--todos-os-departamentos:hover > a,
  div#menu .menu__nivel-um .menu__item--oferta-da-semana:hover > a {
      background: #ff0000 !important;
  }

  div#menu .menu__nivel-um > ul > li.menu__item--oferta-da-semana > a:after {
      border-top-color: #ff0000 !important;
  }


  #rodape .rodape-bloco-redes a img {
      filter: grayscale(1);   
  }


  body div#smartfront__app .body-app--product-listing-carousel .owl-nav i {
      background: #222;
  }
  

  .menu.lateral a i:after,
  .menu.lateral .menu__nivel-dois > ul > li.menu__item:not(:last-child) > a:after {
      background: #111;
  }

  #rodape .titulo {
      border-color: #1e1e1e;
  }

  .menu.lateral .menu__nivel-dois > ul > li.menu__item:not(:last-child) > a {
      border-bottom-color: #333;
  }

  .fancybox-lock .fancybox-overlay .fancybox-wrap.modal-modalNewsletter {
      background: url(https://cdn.awsli.com.br/930/930730/arquivos/background-newsletter-popup-ledfriday-15-10-21.png) center center no-repeat !important;
  }

  body div#smartfront__app.smartfront__smartfrontapps-kits-produtos-iluminim.lista-kits-produtos .lista-kits-produtos--conteudo .lista-kits-produtos--item a {
      color: #000;
  }

  .navegacao-lancamentos .navegacao-lancamentos-item .navegacao-lancamentos-item-imagem img,
  .descricao-conteudo-accordion.cuidado-maximo-com-sua-encomenda .item-icone img {
      filter: brightness(10) invert(1);
  }

  a, a:hover, a:focus, .cor-principal, .menu a:hover, .atributo-comum a:hover span, .atributo-comum .active a span {
      color: #000;
  }

  body div#smartfront__app .content-app--header-app {
      border-top-color: #000 !important;
  }
  
  div#menu-lateral li.menu__item.menu_item--oferta-da-semana a {
      border: none !important;
  }
  
  div#menu-lateral li.menu__item.menu_item--oferta-da-semana a:after {
      display: none;
  }
  
  div#menu-lateral li.menu__item.menu_item--oferta-da-semana {
      border-bottom-left-radius: 5px;
      overflow: hidden;
      border-bottom-right-radius: 5px;
  }

  div#menu .menu__nivel-um > ul > li > .menu__nivel-dois > ul > li:hover > a {
      background: #fff !important;
  }

   div#menu .menu__nivel-um > ul > li.menu__item--todos-os-departamentos > .menu__nivel-dois li.menu__item.menu_item--oferta-da-semana > a {
       background: #000000 !important;
   }

   div#menu .menu__nivel-um > ul > li.menu__item--todos-os-departamentos > .menu__nivel-dois li.menu__item.menu_item--oferta-da-semana > a:hover {
       background: #222 !important;
   }

   div#menu li.menu__item.menu__item--new > a:after {
       background: #d00b11 !important;
   }

   .menu.lateral .menu__nivel-dois li.menu__item.menu_item--oferta-da-semana > a {
       background: #d00b11;
   }

   .menu.lateral .menu__nivel-dois li.menu__item.menu_item--oferta-da-semana > a:hover {
       background: #ff0000 !important;
   }
   

   .menu__nivel-dois.menu__nivel-dois--oferta-da-semana div#smartfront__app .content--product-application > a .product-application--countdown-product {
       pointer-events: none !important;
   }

   div#menu .menu__nivel-um .menu__item--oferta-da-semana > a > svg {
       width: 32px;
       height: 32px; 
       margin: 0 -10px 0 10px !important;
   }

   .secao-banners .banner.cheio .flex-direction-nav > * > * {
       background: #d00b11 !important;
   }
   
   .secao-banners .banner.cheio .flex-direction-nav > * > *:hover {
       background: #ff0000 !important;
   }

   .bloco-triplo-personalizado div#smartfront__app .body-app--product-listing-carousel .owl-nav i {
       background: none !important;
   }

   
   div#smartfront__app.smartfront__smartfrontapps-banners-produtos .content--product-application .product-application--name * {
       color: #000 !important;
   }
   
   div#smartfront__app.smartfront__smartfrontapps-banners-produtos .content--product-application .product-application--prices-product .prices-product--price-ticket:before {
       color: #34af6f !important;
   }
   
   div#smartfront__app.smartfront__smartfrontapps-banners-produtos .content--product-application .product-application--prices-product .prices-product--price-ticket strong {
       color: #34af6f !important;
       text-shadow: 2px 2px 0px #b4b1b4;
   }
   
   div#smartfront__app.smartfront__smartfrontapps-banners-produtos .content--product-application .product-application--prices-product .prices-product--price-ticket strong > div:after {
       text-shadow: none !important;
   }

   div#smartfront__app.smartfront__smartfrontapps-banners-produtos .content--product-application > a:before {
       content: url(https://cdn.awsli.com.br/930/930730/arquivos/caracteristicas-banners-html-dinamic-22-10-21-v4.png);
   }

   div#smartfront__app.smartfront__smartfrontapps-banners-produtos .content--product-application > a:after {
       content: url(https://cdn.awsli.com.br/930/930730/arquivos/LED_FRIDAY_6.0_TAG-19-10-21.png);
       position: absolute;
       bottom: 5px;
       right: 5px;
   }

   div#smartfront__app.smartfront__smartfrontapps-banners-produtos .content--product-application .product-application--prices-product .prices-product--installments-product:before {
       color: #000;
   }

   div#smartfront__app.smartfront__smartfrontapps-banners-produtos .content--product-application .product-application--prices-product .prices-product--installments-product b.installments-product--quantity {
       color: #ff0000 !important;
   }

   div#smartfront__app.smartfront__smartfrontapps-banners-produtos .content--product-application .product-application--prices-product .prices-product--price-ticket strong > div:after {
       content: "VIA PIX E BOLETO";
   }

   body div#smartfront__app .body-app--product-listing-carousel .owl-nav i {
       background: #d00b11;
   }

   .carousel-target .owl-nav > *:not(.disabled):hover i {
       background: #ff0000 !important;
   }
   .carousel-target .owl-nav i {
       background: #d00b11 !important;
   }

   html body .bloco-triplo-personalizado .carousel-target .owl-nav > *:not(.disabled):hover i {
       background: none!important;
   }
   html body .bloco-triplo-personalizado .carousel-target .owl-nav i {
       background: none !important;
   }

   div#smartfront__app.smartfront__smartfrontapps-banners-produtos .content--product-application .product-application--prices-product .prices-product--installments-product b.installments-product--price *,
   div#smartfront__app.smartfront__smartfrontapps-banners-produtos .content--product-application .product-application--prices-product .prices-product--installments-product b.installments-product--price {
       color: #ff0000 !important;
   }

   div#smartfront__app.smartfront__smartfrontapps-banners-produtos .content--product-application .product-application--prices-product .prices-product--installments-product * {
       color: #000 !important;
   }

   /* oferta relampago */
   body div#smartfront__app.smartfront__smartfrontapps-popup-oferta-relampago .smartfront__app--content-app .countdown-content-smartfront li.item i, 
   body div#smartfront__app.smartfront__smartfrontapps-popup-oferta-relampago .smartfront__app--content-app .countdown-content-smartfront li.blank {
       color: #ff0000 !important;
   }

   body .modal-smartfront.modal-app__smartfrontapps-popup-oferta-relampago div#smartfront__app.smartfront__smartfrontapps-popup-oferta-relampago .content-app--title-countdown {
       color: #f00 !important;
   }

   body div#smartfront__app.smartfront__smartfrontapps-popup-oferta-relampago .content--product-application .product-application--prices-product .prices-product--sale-price {
       color: #f00 !important;
   }

   body div#smartfront__app.smartfront__smartfrontapps-popup-oferta-relampago .content--product-application .product-application--prices-product .prices-product--installments-product .installments-product--quantity, 
   body div#smartfront__app.smartfront__smartfrontapps-popup-oferta-relampago .content--product-application .product-application--prices-product .prices-product--installments-product .installments-product--price {
       color: #ff0000 !important;
   }

   body div#smartfront__app.smartfront__smartfrontapps-popup-oferta-relampago .footer-app--title.footer-app--title-cupom .footer-app--coupon-discount {
       color: #ff0000 !important;
   }

   body .modal-smartfront.modal-app__smartfrontapps-popup-oferta-relampago div#smartfront__app .content-app--header-app > * {
       z-index: 1;
       position: relative;
   }

   body .modal-smartfront.modal-app__smartfrontapps-popup-oferta-relampago div#smartfront__app .content-app--header-app:before {
       content: url(https://cdn.awsli.com.br/930/930730/arquivos/bg-oferta-relampago-popup-20-10-21.png);
       position: absolute;
       top: 0;
       z-index: 1;
       top: 0;
       filter: brightness(1.8) hue-rotate(-10deg);
       left: 0;
       width: 100%;
       height: 100%;
   }

   body .modal-smartfront.modal-app__smartfrontapps-popup-oferta-relampago div#smartfront__app .content-app--header-app {
       overflow: hidden;
       background: none !important;
       position: relative;
   }

   body div#smartfront__app.smartfront__smartfrontapps-popup-oferta-relampago .product-application--tags .tags--tag.tag-discount {
       background: url(https://cdn.awsli.com.br/930/930730/arquivos/tag-desconto-20-10-21-v3.png) center center no-repeat !important;
       width: 100px !important;
       height: 100px !important;
   }
   
   body div#smartfront__app.smartfront__smartfrontapps-popup-oferta-relampago .product-application--tags .tags--tag.tag-discount span.tag-discount--percent.tag--first-item {
       font-size: 21px !important;
       top: 29px;
       left: -6px;
       color: #ff0000;
       text-shadow: 0px 0px 4px rgb(214 225 10 / 49%);
       letter-spacing: -1.5px;
       font-family: 'Open Sans' !important;
       font-weight: 900;
   }


   div#tarja-informacoes .bloco-tarja .parte-superior {
       background: #000 !important;
   }

   .titulo-categoria {
       background: #000 !important;
       border-color: #000 !important;
   }

   .titulo-categoria > strong {
       color: #ffffff !important;
       transition: all 0.3s;
   }

   .titulo-categoria .ver-todos {
       border-color: #ffffff !important;
       color: #ffffff !important;
   }

   .titulo-categoria .ver-todos:hover {
       background: #000 !important;
       border-color: #ff0000 !important;
       color: #ff0000 !important;
   }

   .produto .acoes-flutuante {
       display: none !important;
   }

   body div#smartfront__app .content-app--header-app {
       background: #000 !important;
       border-color: #000 !important;
   }

   body div#smartfront__app .content-app--header-app .header-app--title {
       color: #ffffff !important;
   }

   body div#tarja-informacoes .bloco-tarja .parte-superior .imagem-tarja svg, body div#tarja-informacoes .bloco-tarja .parte-superior .imagem-tarja svg * {
       color: #f00;
       fill: #f00 !important;
   }

   body div#tarja-informacoes .bloco-tarja .parte-superior .titulo-tarja {
       color: #ff0000 !important;
   }

   a.titulo-categoria > strong:hover {
       color: #ff0000 !important;
   }
   
   div#smartfront__app.smartfront__smartfrontapps-popup-nao-va-embora .content-app--header-app {
       background: none !important;
   }
   
   div#smartfront__app.smartfront__smartfrontapps-popup-nao-va-embora .content-app--header-app .header-app--title {
       color: #000 !important;
   }


   .listagem-item:before {
       content: url(https://cdn.awsli.com.br/930/930730/arquivos/tag-led-friday-listagem-26-10-21-v1.png);
       position: absolute;
       left: 10px;
       top: 8px;
       z-index: 99;
   }
   
   .listagem-item .bandeiras-produto .bandeira-promocao {
       margin: 51px 0 0 0 !important;
       width: 47px;
       height: 47px;
       line-height: 47px;
   }

   .listagem-item span.bandeira-frete-gratis {
       left: 0px;
       top: 51px;
       width: 47px;
       height: 47px;
       display: flex;
       align-items: center;
       justify-content: center;
   }

   .listagem-item .tag-economize > div {
       background: #d00b11 !important;
   }

   html body div#smartfront__app:not(.smartfront__smartfrontapps-banners-produtos) .body-app--content .content--product-application > a:before {
       content: url(https://cdn.awsli.com.br/930/930730/arquivos/tag-led-friday-listagem-26-10-21-v1.png);
       position: absolute;
       left: 10px;
       top: 8px;
   }
   
   html body div#smartfront__app .body-app--content .content--product-application .tags--tag.tag-discount {
       margin: 51px 0 0 0 !important;
       width: 47px !important;
       height: 47px !important;
       line-height: 47px !important;
   }

   div#smartfront__app.smartfront__smartfrontapps-grid-produtos-personalizados .product-application--tags:after {
       left: 54px!important;
   }

   div#smartfront__app.smartfront__smartfrontapps-variacao-por-disponibilidade .content--product-application > a:before,
   .menu__nivel-dois.menu__nivel-dois--oferta-da-semana div#smartfront__app .content--product-application > a:before {
       display: none !important;
   }
   
   .cronometro-led-ofertas .cronometro-led-ofertas-conteudo-texto-1 {
       font-size: 0;
   }
   
   .cronometro-led-ofertas .cronometro-led-ofertas-conteudo-texto-1:after {
       content: "OFERTAS LED FRIDAY";
       font-size: 42px;
   }
   
   .cronometro-led-ofertas .countdown-target .item i {
       color: #ff0000;
   }

   .listagem-item .bandeiras-produto .bandeira-promocao {
       background: #d00b11 !important;
   }

   html body .banners-personalizados .carousel-target .owl-nav i {
       background: none !important;
   }
   
   html body .banners-personalizados .carousel-target .owl-nav > *:not(.disabled):hover i {
       background: none !important;
   }
   
   .bloco-personalizado.bloco-produtos-peronalizados .product-application--tags:after {
       content: "Poucas Unid.";
       border: 2px solid var(--cor-secundaria) !important;
       border-radius: 4px;
       width: 41px;
       font-size: 9px;
       text-transform: uppercase;
       padding: 1px 0;
       color: var(--cor-secundaria);
       font-weight: 700;
       letter-spacing: -0.5px;
       height: 39px;
       display: flex;
       align-items: center;
       position: absolute;
       left: 56px;
       top: 0px;
       text-align: center;
   }

   .listagem-item span.preco-parcela .cor-secundaria,
   .listagem-item .preco-produto .preco-a-partir .preco-venda, .listagem-item .preco-produto .preco-promocional {
       color: #d82d30 !important;
   }
   
   .banners-com-desconto .banner-desconto-texto-desconto {
       background: #d00b11;
   }

   .bloco-personalizado.bloco-produtos-peronalizados .prices-product--price-ticket > span:after {
       content: "/boleto";
   }

   div#smartfront__app.smartfront__smartfrontapps-oferta-limitada-na-categoria .content--product-application .product-application--informations .prices-product--installments-product b {
       color: #d00b11 !important;
   }

   div#smartfront__app.smartfront__smartfrontapps-banners-produtos .body-app--product-listing-carousel .owl-dots > .owl-dot.active > span {
       background: #d00b11;
       border-color: #d00b11;
   }
   
   div#smartfront__app.smartfront__smartfrontapps-banners-produtos .body-app--product-listing-carousel .owl-dots > .owl-dot > span {
       border-color: #afafaf;
   }

   html body div#smartfront__app.smartfront__smartfrontapps-banners-produtos .owl-dots {
       bottom: 10px!important;
   }

   .listagem-customizada .listagem-customizada-ver-todos > span {
       color: #fff !important;
       margin-right: 15px;
       -webkit-animation-duration: .6s;
       -webkit-animation-name: blinking;
       -webkit-animation-iteration-count: infinite;
       -webkit-animation-direction: alternate;
   }

   .listagem-customizada .listagem-customizada-ver-todos > span:hover {
       color: #ff0000 !important;
       border-color: #ff0000 !important;
   }
   
   @media (max-width: 767px){

       body div#smartfront__app .body-app--product-listing-carousel .owl-nav > *:not(.disabled):hover i,
       .atalhos-mobile .menu-bars span,
       .bloco-triplo-personalizado .bloco-personalizado.bloco-produtos-peronalizados.bloco-2,
       .bloco-triplo-personalizado .bloco-personalizado.bloco-produtos-peronalizados .topo-bloco-produtos-peronalizados,
       body div#smartfront__app:not(.smartfront_model_compre-junto):not(.smartfront__smartfrontapps-oferta-limitada-na-categoria) .content--product-application .product-application--prices-product {
           background: #000 !important;
       }

       .newsletter-mobile {
           background: linear-gradient(to right, #000000, #3a3a3a);
       }

       #menu-mobile li.menu__item.menu__item-pagina {
           border-bottom-color: #000;
       }

       .bloco-triplo-personalizado .bloco-personalizado.bloco-produtos-peronalizados .content--product-application > a {
           padding-left: 0 !important;
           padding-right: 0 !important;
       }
       
       .bloco-triplo-personalizado .bloco-personalizado.bloco-produtos-peronalizados .content--product-application > a {
           height: auto;
       }

       .bloco-triplo-personalizado div#smartfront__app .body-app--product-listing-carousel .owl-nav > *:not(.disabled):hover i {
           background: none !important;
       }
       
       .bloco-triplo-personalizado div#smartfront__app .body-app--product-listing-carousel .owl-nav > *:not(.disabled) i {
           color: #fff !important;
       }

   }






   /* =========== ADAPTAÇÕES PAGINA LED FRIDAY E OFERTAS DA SEMANA ========== */
   .pagina-personalizada-oferta-da-semana .caixa-destaque {
       display: none;
   }

   body.pagina-personalizada-oferta-da-semana {
       background: #000 !important;
   }
   
   .pagina-personalizada-oferta-da-semana .palavras-mais-buscadas .conteudo-titulo-palavras-buscadas span {
       background: #000;
       color: #fff;
   }
   
   .pagina-personalizada-oferta-da-semana .palavras-mais-buscadas .conteudo-titulo-palavras-buscadas {
       border-color: #222;
   }
   
   .pagina-personalizada-oferta-da-semana .avalicoes-categoria .avalicoes-categoria-conteudo {
       background: #fff;
   }
   
   .pagina-personalizada-oferta-da-semana .avalicoes-categoria .avaliacoes-categoria-titulo .avaliacoes-categoria-titulo-texto {
       color: #fff !important;
   }
   
   .pagina-personalizada-oferta-da-semana .palavras-mais-buscadas .lista-palavras-mais-buscadas a {
       color: #fff;
   }
   
   .pagina-personalizada-oferta-da-semana div#barraNewsletter {
       border-top: 1px solid #222;
   }
   
   .pagina-personalizada-oferta-da-semana div#menu .menu__nivel-um {
       border-bottom: 1px solid #222;
   }

   .pagina-personalizada-oferta-da-semana div#menu .menu__nivel-um > ul > li.menu__item--todos-os-departamentos > a {
       border-bottom-left-radius: 4px;
   }

   .pagina-personalizada-oferta-da-semana div#menu .menu__nivel-um > ul > li.menu__item--oferta-da-semana > a {
       border-bottom-right-radius: 4px;
   }

   div#OfertaSemanaCustomizada .bloco-categoria--produtos {
       padding: 0px 34px 0px 29px !important;
   }
   
   .pagina-personalizada-oferta-da-semana .banner-default-item .progress-countdown,
   .pagina-personalizada-oferta-da-semana.pagina-categoria.categoria-16524539 .banner.cheio .progress-countdown {
       height: 8.5%;
       bottom: 21.8%;
       padding: 0 8.5% 0 8.5%;
   }
   
   .pagina-personalizada-oferta-da-semana .banner-default-item .cronometro-banner,
   .pagina-personalizada-oferta-da-semana.pagina-categoria.categoria-16524539 .banner.cheio .slides .cronometro-banner {
       bottom: 34.8%;
   }


   .pagina-personalizada-oferta-da-semana.pagina-categoria .banner-default-item .cronometro-banner,
   .pagina-personalizada-oferta-da-semana.pagina-categoria.pagina-led-friday .banner.cheio .slides .cronometro-banner {
       padding: 0 0 0 54.5%;
       bottom: 25.3%;
   }

   .pagina-personalizada-oferta-da-semana.pagina-categoria .banner-default-item .progress-countdown,
   .pagina-personalizada-oferta-da-semana.pagina-categoria.pagina-led-friday .banner.cheio .progress-countdown {
       padding: 0 16% 0 16.4%;
       bottom: 13.9%;
       height: 5.9%;
   }

   .pagina-personalizada-oferta-da-semana.pagina-categoria.pagina-led-friday div#smartfront__app.smartfront__smartfrontapps-banners-produtos .content--product-application > a,
   .pagina-personalizada-oferta-da-semana.pagina-categoria.pagina-led-friday div#smartfront__app.smartfront__smartfrontapps-banners-produtos .banner-default-item img {
       max-height: 380px !important;
   }

   .pagina-personalizada-oferta-da-semana.pagina-categoria.pagina-led-friday div#smartfront__app.smartfront__smartfrontapps-banners-produtos .owl-dots {
       display: none !important;
   }

   /* PAGINA OFERTA DA SEMANA AJUSTES */
   .pagina-personalizada-oferta-da-semana .banner-default-item .progress-countdown {
       position: absolute;
       height: 9.4%;
       bottom: 19.2%;
       padding: 0 5.2% 0 5.2%;
   }
   
   .pagina-personalizada-oferta-da-semana .banner-default-item .progress-countdown .progress-countdown-line {
       border-radius: 7px;
   }

   .pagina-personalizada-oferta-da-semana .banner-default-item .cronometro-banner {
       position: absolute;
       bottom: 33.4%;
       width: 100%;
       padding: 0 0 0 48%;
       box-sizing: border-box;
   }
   
   .pagina-personalizada-oferta-da-semana .banner-default-item .cronometro-banner ul.countdown-target {
       width: 200px;
       margin: 0;
   }
   
   .pagina-personalizada-oferta-da-semana .banner-default-item .cronometro-banner ul.countdown-target span {
       display: none;
   }
   
   .pagina-personalizada-oferta-da-semana .banner-default-item .cronometro-banner ul.countdown-target li {
       color: #fff;
   }

   .pagina-personalizada-oferta-da-semana .banner-default-item {
       position: relative;
   }

   .pagina-personalizada-oferta-da-semana .palavras-mais-buscadas .conteudo-titulo-palavras-buscadas span:after {
       content: " na LED Friday";
   }

   div#OfertaSemanaCustomizada .bloco-produtos-titulo {
       display: flex;
       justify-content: flex-end;
       font-size: 16px;
       text-transform: uppercase;
       margin: 0px 0 11px 0;
       padding: 0px 0 0px 0;
       border-bottom: 1px solid #525252;
       margin-right: -35px;
       color: #fff;
       font-weight: 700;
       letter-spacing: -0.5px;
       align-items: center;
   }
   
   div#OfertaSemanaCustomizada .bloco-produtos-titulo a {
       color: #fff;
       font-size: 12px;
       border-radius: 5px;
       margin: 0 1px 9px 0;
       padding: 5px 16px 5px 16px;
       text-decoration: none;
       transition: all 0.3s;
       background: #d00b11;
   }
   

   div#OfertaSemanaCustomizada .bloco-produtos-titulo a:hover {
       background: #ff0000;
       border-color: #ff0000;
   }
   
   div#OfertaSemanaCustomizada .listagem-item .imagem-produto {
       height: 165px !important;
   }
   
   div#OfertaSemanaCustomizada .listagem-item {
       height: 371px;
   }



   @media (max-width: 767px) {
       
       div#OfertaSemanaCustomizada .listagem-item {
           height: auto !important;
           margin: 0 50px!important;
           height: 180px!important;
           padding-top: 17px!important;
       }

       div#OfertaSemanaCustomizada .bloco-produtos-titulo {
           margin: 0;
           justify-content: center;
           padding: 18px 0 8px 0 !important;
       }

       div#OfertaSemanaCustomizada .bloco-categoria--produtos {
           padding: 0 !important;
       }

       div#OfertaSemanaCustomizada .bloco-categoria--banner {
           background: #000;
           border-top: 1px solid #610200;
           border-left: 1px solid #610200;
           border-right: 1px solid #610200;
       }
       
       div#OfertaSemanaCustomizada .conteudo-ofertasemana--bloco-categoria {
           border-radius: 6px;
       }

       .pagina-personalizada-oferta-da-semana.pagina-categoria.pagina-led-friday .banner.cheio .progress-countdown {
           padding: 0 13.4% 0 13.4%;
           bottom: 16.9%;
           height: 3.9%;
       }
               
       .pagina-personalizada-oferta-da-semana.pagina-categoria.pagina-led-friday .banner.cheio .slides .cronometro-banner {
           padding: 0 0 0 54.5%;
           bottom: 23.3%;
       }

       .pagina-personalizada-oferta-da-semana.pagina-categoria.pagina-led-friday .banner.cheio .slides .cronometro-banner ul.countdown-target li {
           color: #fff;
       }
       
   }

  
}